.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: whitesmoke;
    color: #4D1601;
    /*padding: 0.1rem 1rem;*/
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}
.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}
.icon:hover,
.icon:active {
    font-size: 15px;
}
/*.badge {*/
/*    background-color: #B94517;*/
/*    padding: 0.25rem 1rem;*/
/*    border-radius: 50px;*/
/*    margin-left: 1rem;*/
/*    font-weight: bold;*/
/*}*/
/*.button:hover .badge,*/
/*.button:active .badge {*/
/*    background-color: #92320C;*/
/*}*/
.bump {
    animation: bump 300ms ease-out;
}
@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
